{% extends 'base.html.twig' %}

{% block content %}
    <h1>Subjects for {{ level.name }}</h1>
    <ul>
        {% for subject in subjects %}
            <li>{{ subject.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}