{% extends'baseFront.html.twig' %}
{% block body %}

<main id="main">
    
    

    {% if generatedText is not null %}
        <h2>Generated Quiz Text:</h2>
        <p>{{ generatedText }}</p>
    {% else %}
        <p>No quiz generated yet.</p>
    {% endif %}
{% endblock %}



